@model Project1.WebApp.Models.OrderW

@{
    ViewData["Title"] = "User Options";
}

<h2>User Options</h2>

<h1>Welcome @Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)</h1>
<p>@Html.ActionLink("Your Order History", "UserHistory", new { id = Model.User.Id })</p>
<p>@Html.ActionLink("Make a new order", "NewOrder", new { newOrder = Model.User.Id + "newOrder" })</p>


